/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  justify-content: left;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.mdl-textfield__error {
  color: rgb(217, 178, 178);
}

.page-content {
  color: rgb(74, 42, 78);
  font-family: Copperplate, Arial, sans-serif;
  font-size: 1.25rem;
}

body {
  background-color: rgb(223, 223, 238);
}